[2015-12-09 17:18] shaunlebron opened #1 "with Vundle: server not starting"
I use Vundle to manage my vim plugins (on a mac).  I'm not sure why the server wasn't starting, but probably has to do with something Vundle-specific that I'm not aware of.  Details below:

---

I added `Plugin "bhurlow/vim-parinfer"` to my `.vimrc` and ran `:PluginInstall`.  But the parinfer server didn't start when opening an existing `test.clj` file.  The `/tmp/parinfer.log` was empty.  After l

[2015-12-09 18:09] bhurlow commented on #1
Hey @shaunlebron
I don't use Vundle myself but I will definitely look into this.

Ideally the server should start when you open a `.clj` (or lisp file of any kind I suppose). If it doesn't start for some reason, we should handle that case somehow. I'll take look!

[2015-12-09 18:15] bhurlow commented on #1
@shaunlebron are you using any other clojure vim plugins? I want to make sure the parinfer stuff doesn't collide with other defined mappings etc

[2015-12-09 18:25] bhurlow opened #2 "no help tags / doc.txt file"

[2015-12-09 18:59] bhurlow commented on #1
after [redirecting stderr](https://github.com/bhurlow/vim-parinfer/commit/064386e243d1a3d378baf1e10997507feada5e9c) it looks like Vundle doesn't execute the scripts from the same directory as pathogen:

[code]

[2015-12-10 02:35] #1 closed

[2015-12-10 04:58] shaunlebron commented on #1
thanks, working!

[2015-12-10 05:48] bhurlow opened #3 "some buffers break the curl system call"
I think this is a json encoding issue

[2015-12-10 05:48] bhurlow commented on #3
only buffers with certain chars

[2015-12-10 06:23] #3 closed

[2015-12-10 18:17] bhurlow opened #4 "issues with yanking text. buffer is replaced"

[2015-12-10 18:17] bhurlow opened #5 "replacing buffer impacts undo"

[2015-12-10 18:24] bhurlow opened #6 "sending whole buffer may not be necessary"

[2015-12-10 20:31] bhurlow opened #7 "needs global toggle"

[2015-12-11 18:52] bhurlow commented on #6
fixed here: https://github.com/bhurlow/vim-parinfer/commit/2249222183722849f31ea0650d939d0663d0b297

[2015-12-11 18:52] #6 closed

[2015-12-14 22:12] ujihisa opened #9 "Missing licence"
Besides `package.json`'s `"license": "MIT",` line, documentation doesn't mention about its licence, nor this project has a licence file.

[2015-12-14 23:17] bhurlow commented on #5
fixed by only sending TLF

[2015-12-14 23:17] #5 closed

[2015-12-14 23:17] #4 closed

[2015-12-14 23:26] #9 closed

[2015-12-14 23:28] ujihisa commented on #9
:+1:

[2015-12-17 03:50] chadhs commented on #2
great work. docs would rock, one thing i'm curious about is if this can be used to replace "wrap with" in paredit.  :-)

[2015-12-18 19:55] ToucheSir opened #10 "Support for other lisps"
Currently, vim-parinfer will simply ignore any file without a .clj\* extension. This rules out using the parinfer for clojure-esque lisps such as [mal](https://github.com/kanaka/mal). Ideally, it should be possible to either call a registration function to add different file extensions or call some of the hooks vim-parinfer uses internally to set up the functionality.

[2015-12-18 20:05] bhurlow commented on #10
other lisps should definitely be supported. Some of this depends on how parinfer works – I think it should work with almost all s-expression based languages.

Maybe it makes sense to adjust the [autocommands](https://github.com/bhurlow/vim-parinfer/blob/master/plugin/parinfer.vim#L190-L198) to simply call something like *.clj,*.cljs,*.mal etc.

Since parinfer is sort of lisp agnostic though, it'd

[2015-12-18 20:07] bhurlow commented on #10
maybe its possible to set something like: `g:parinfer_lisp_files = *.mal, *.lisp, *.clj`

[2015-12-18 20:14] shaunlebron commented on #10
my goal is to make parinfer work with all Lisps, if possible.  it's working well for both Clojure and Racket so far.  let me know if there are problems for other lisps!

[2015-12-18 20:23] bhurlow commented on #10
cool! good to know

[2015-12-27 18:30] bhurlow commented on #2
@chadhs I'm only mildly familiar with paredit as I'm firmly into vim. Was using vim-sexp instead. Can you briefly explain what paredit "wrap with" does? It like like slurp/barf?

[2015-12-28 14:50] chadhs commented on #2
if you had a function and then you wanted function to be nested in an outer form.

one example would be if you suddenly added a middleware layer to a ring based web app.  in the paredit world you could do something like `,w(` and that entire expression would be wrapped in parens and you could enter insert mode right after the new opening `(`.

I suppose you could also start writing the outer form

[2015-12-28 17:03] kovacnica opened #11 "Select_full_form() not working"
Hi,

I've followed instructions for installation from README.md, but plugin wasn't working.

It seams that current commit doesn't publish g:Select_full_from() as global function. When i removed g: from function declaration plugin stopped throwing errors.

Current fn declaration:

function! Select_full_form()
    let starting_line = line('.')
    let top_empty = 0
    let bottom_empty = 0
...

Can

[2015-12-28 17:36] bhurlow commented on #11
hi @kovacnica, can you paste me the error you're seeing? I believe `Select_full_form` to be working although it crudely selects the full form by looking for whitespace lines above and below the cursor so it doesn't work on a form that has a blank line *inside* of it.

for example, a form like this wouldn't work with the current code:

[code]

[2015-12-28 17:45] bhurlow commented on #2
@chadhs I've found the idiomatic way to do this with parinfer is to simply navigate to the beginning of the form, enter insert mode, insert a `(`, and finally exit insert mode. By existing insert mode, vim-parinfer will send the form to parinfer to be evaluated and the return value will have the other parenthesis automatically balanced.

Also another bonus with parinfer is that we can wrap forms t

[2015-12-28 18:38] kovacnica commented on #11
Sure, no problem....

*Error message:*
Error detected while processing function <SNR>64_send_buffer:
line   11:
E117: Unknown function: Select_full_form
Press ENTER or type command to continue
Error detected while processing function <SNR>64_send_buffer:
line   11:
E15: Invalid expression: Select_full_form()
Error detected while processing function <SNR>64_send_buffer:
line   12:

And regarding ab

[2015-12-29 01:04] bhurlow commented on #11
ok yea that definitely looks like a scoping bug. Vim is so weird about stuff like that. I'll fix it asap

[2015-12-29 22:17] chadhs commented on #2
I'll give this a shot, if it's just a matter of me learning how to achieve this, then adding wrapping would probably be a bad idea.  Thanks! :-)

[2016-01-08 17:43] bhurlow commented on #11
@kovacnica I just encountered this issue on a fresh machine, fixed it by ensure I had node installed and that I ran `npm install` in the vim-parinfer directory

[2016-01-09 22:14] kovacnica commented on #11
I'm very new to vim scripting... I've been using vim for about 5 years now,
but never done any scripting.

For now all I can say for shure is that tpope's plugins are the shit. I'm
mean it in the good way. Best possible. So I've been going through some of
his code and throughout some of his plugins he is always using following
naming schema.

plugin#function_name(args...)

So I've quickly refracto

[2016-01-09 23:32] bhurlow opened #12 "multiple vim clj sessions break vim-parinfer"

[2016-01-09 23:41] bhurlow commented on #11
haha yea I've been using vim forever but am pretty new to scripting vim as well.
I'm definitely a member of the cult of tpope ;)

As far as the sort of vim fn "namespacing" is concerned, I don't really have strong feelings as long as everything works. I've noticed people use the `plugin` prefix for functions that a user may want to remap themselves and `s:` prefix for script local functions.

I've

[2016-01-10 10:27] kovacnica commented on #11
Sure... Btw what does PR stand for? :D

On Sun, Jan 10, 2016 at 12:41 AM, Brian Hurlow <notifications@github.com>
wrote:

--
-----------------------------------------------------------------
dipl. ing. Robert Geršak

Address:     Nikole Bonifačića 13, Velika Gorica
Mob.:        +385 99 8155 267
Tel.:          +385 1 6221 831

[2016-01-10 14:56] bhurlow commented on #11
PR is short for github pull request

[2016-02-09 01:19] oakmac opened #15 "FYI - Parinfer now available in Vimscript"
The core Parinfer algorithm is now available as a Vimscript library: https://github.com/oakmac/parinfer-viml

[2016-02-09 05:18] bhurlow commented on #15
yooooooooo that's awesome. @oakmac Do you have a feel for how the performance compares in Viml? I 'll start a branch to try it out

[2016-02-09 05:55] oakmac commented on #15
I have no idea :)

[Issue #3](https://github.com/oakmac/parinfer-viml/issues/3) on the parinfer-viml repo is set up to track performance.

[2016-02-09 05:56] bhurlow commented on #15
sounds good. I don't really know very much about bechmarking vim code tbh. will be interesting to find out

[2016-02-09 05:59] oakmac commented on #15
I suspect it will be slower than parinfer.js, but unless it is dramatically slower I'm sure it will be simpler to integrate Vimscript than having to deal with the whole node.js/rpc setup.

There are also [performance hacks](https://github.com/oakmac/atom-parinfer#known-limitations) you can use in the extension code to speed things up.

[2016-02-09 06:01] bhurlow commented on #15
I also suspect it'll be slower and saner

[2016-02-09 06:02] oakmac commented on #15
I'm excited to see what you can come up with here :+1:

[2016-02-09 06:05] bhurlow commented on #15
yea I've actually been surprised how smooth the RPC approach has been. It definitely has a few bugs in there but I use it *heavily*. parfiner is a great idea

[2016-02-09 06:19] oakmac commented on #15
Strongly agree

[2016-02-15 01:41] bhurlow commented on #15
@oakmac another options here would be to write the parinfer port in python which vim "natively" supports. thoughts? I still plan to give the raw viml a shot

[2016-02-15 01:41] bhurlow commented on #15
I figure you've already ported parinfer to like 1000 languages already so whats one more :)

[2016-02-15 01:44] bhurlow commented on #15
for that matter ruby is also something we could consider

[2016-02-15 01:45] oakmac commented on #15
[parinfer.py](https://github.com/oakmac/parinfer.py) is ready to go :)

[2016-02-15 01:48] oakmac commented on #15
I was thinking about this over the weekend. Isn't the case that 99% of vim installations have Python "built-in"? If so, you could ship parinfer.py with the plugin and use it when Python is available. Else it could fall back to the vimscript version.

[2016-02-15 01:49] bhurlow commented on #15
yea, not sure really about which versions of vim are floating around out there but I'd say the python extension is now pretty common. Lots of key vim plugins require the python extension (like vim-fireplace even) so depending on it doesn't seem like it would exclude many users

[2016-02-15 01:49] bhurlow commented on #15
that was fast!

[2016-02-15 01:52] oakmac commented on #15
parinfer.py was the first parinfer port ;)

started back in December for the [sublime-text-parinfer](https://github.com/oakmac/sublime-text-parinfer) plugin

[2016-02-15 03:15] shaunlebron commented on #15
this is great, I didn't know python was natively supported by vim.  the viml port was so slow

[2016-02-15 07:37] kovacnica opened #16 "TextChangeI Send_Buffer()"
Hi Brian,

Thank you for merging some of changes that I've made.

I've seen that it was planned to send buffer to Parinfer on TextChange, so I've made some micro changes
to the code to do that. Only problem was that when inserting \space character because it would be ignored. Parinfer autointeded sent string so \space character was ignored.

Current code works on my files... So check it out if it

[2016-03-18 00:33] metasoarous opened #18 "Getting unwanted whitespace at end of line occassionally"
Not sure exactly why; might be me being clutzy as I learn the tool... If I manage to clarify what's actually causing this I'll share.

[2016-03-18 00:38] metasoarous opened #19 "visual mode key bindings?"
Are there are recommended set of visual key bindings to indent/unindent multiple lines? Or should the mappings be roughly the same?

[2016-03-18 00:48] metasoarous commented on #19
Seems like the same function called in command mode works fine in visual mode, so I'll just use that mapping. I'll for a PR if you feel like adding these mappings as defaults.

[2016-03-18 01:33] metasoarous commented on #18
I see... when I start to enter something at the end of an s-exp but end up inserting a space and nothing else before leaving insert mode, it pushes the space out after the paren... which seems reasonable enough.

[2016-03-18 01:33] #18 closed

[2016-03-18 04:21] shaunlebron commented on #18
Hi @metasoarous, can you reproduce the behavior in the canonical parinfer editor?
http://shaunlebron.github.io/parinfer/demo

I fixed that behavior some time ago, but it looks like vim-parinfer is using an older version of parinfer.js

[2016-03-18 04:31] metasoarous commented on #18
Ah... I see. No, I'm not getting behavior on the canonical version.

[2016-03-18 16:55] bhurlow commented on #18
@shaunlebron @metasoarous yes vim-parinfer needs an upgrade. Planning to use the python bindings

[2016-03-18 16:57] bhurlow commented on #19
currently I've bound `Tab` and `Shift + Tab` to do indent the line and then balance the form using parinfer. Those binding are simply recommendations from the original parinfer spec, but I've found them to work pretty well with day to day editing

[2016-03-18 17:02] metasoarous commented on #19
Sure; I see that's the case in normal/command mode. I'm finding a visual mode mapping convenient though:

[code]

I don't know what the best way of indenting multiple lines together would be if not this.

[2016-03-19 18:24] bhurlow commented on #19
ahhh I see what you're saying now. Let's just add those two `vnoremap` calls, seems like a find addition to me

[2016-03-27 16:59] metasoarous opened #20 "Any issues with adding *.edn to the file pattern matches?"
I can submit this with a PR for #19 if you like; I thought I'd already submitted #19 but I guess not.

Seems to be working well for me with `*.edn` added, FWIW.

[2016-03-28 14:41] bhurlow commented on #20
yea totally fine with adding `.edn`

[2016-03-29 14:21] #19 closed

[2016-03-29 14:21] #20 closed

[2016-05-17 01:11] GoranM opened #22 "Error detected while processing VimLeavePre Auto commands (stop_server)"
Log shows:

[code]

I changed the code to call the function correctly:

[code]

With this, I got a symbol undefined error for `g:parinfer_server_pid`, and I noticed that the line which was supposed to set it was commented out:

[code]

On my system, the `system(cmd)` call returns the correct pid, so I uncommented the `let g:parinfer_server_pid = pid` line, and that worked perfectly.

I don't know

[2016-08-13 12:53] bpstahlman opened #23 "Lisp variant-specific indent"
Given that Parinfer knows nothing about the lisp variant-specific indentation conventions... Is the "parinfer way" to ignore such conventions, contenting oneself with a shiftwidth-based indentation, which satisfies parinfer's invariant without conforming to any particular lisp style guide? Or is the idea that you should always use parinfer in conjunction with a variant-specific plugin that underst

[2016-08-13 12:59] shaunlebron commented on #23
@bpstahlman can you move this question to https://github.com/shaunlebron/parinfer?

[2016-08-13 13:07] #23 closed

[2016-08-31 15:31] spinningarrow opened #24 "Invoking parinfer in normal mode"
I was wondering if there's any support for invoking parinfer in normal mode; for instance, if I put the cursor over a `(` and press `x`, only that paren gets deleted. If I then go into Insert mode and immediately leave, the matching `)` gets deleted automatically by parinfer. Is there going to be support for that happening without jumping in and out of Insert mode?

[2016-10-10 19:58] #2 closed

[2016-10-25 20:39] js-choi opened #27 "Double line breaks should not split expressions"
Vim-Parinfer currently correctly considers this text as one form:

[code]

Editing this text with Vim-Parinfer (e.g., by exiting insert mode) correctly makes no changes.

However, Vim-Parinfer currently incorrectly considers this as two forms:

[code]

Editing this text with Vim-Parinfer will incorrectly change this text. If its first two lines are edited, Vim-Parinfer will change the text to:

[c

[2016-10-25 21:03] bhurlow commented on #27
@js-choi yep, current impl separates forms by spaces. This is not ideal as lots of people like to separate internal forms with spaces. Vim-sexp looks for the first paren of the form by looking for `(` on column1, which is a nice solution since it's quite high(er) performance than `searchpairpos`

[2016-10-25 21:03] bhurlow commented on #27
I have this done elsewhere and can add. Soon though, the parinfer code will be replaced with the raw VimL version over the js rpc

[2016-11-16 03:21] js-choi commented on #27
Are there still plans to add this in soon? Replacing the Node implementation with VimL will be nice, but if the fix for the Node version is already done, then it’d be really useful as a stopgap.

But this is a volunteer project, and I can’t help but appreciate what you’ve already provided. Thanks again.

[2016-11-16 04:56] bhurlow commented on #27
@js-choi ok cool thanks for the bump. I'll try to get going on the Viml version this week

[2016-11-20 14:19] tomaskulich commented on #24
+1

[2016-11-26 10:07] tomaskulich commented on #27
+1, this is great project and would be even better if this issue was fixed!

[2016-12-01 07:12] bhurlow commented on #27
Ok, pulling in the viml library (no more js rpc) and tweaking the top level form search addresses this in most cases: https://github.com/bhurlow/vim-parinfer/commit/3a1202620558726d0fe068c3836e1825e99835c1

[2016-12-01 07:55] bhurlow commented on #24
@spinningarrow I think the simplest thing here might just be to remap `x` to call a function that deletes a character and then call parinfer to rebalance. Took a pass at this, looks promising

[2016-12-01 07:56] bhurlow commented on #22
fixed with vimscript impl

[2016-12-01 07:56] #22 closed

[2016-12-01 07:57] bhurlow commented on #15
Added the viml implementation! 🌻

[2016-12-01 07:57] #15 closed

[2016-12-01 07:58] #16 closed

[2016-12-01 07:59] #12 closed

[2016-12-01 08:00] bhurlow commented on #11
really the issue is: https://github.com/bhurlow/vim-parinfer/issues/27

[2016-12-01 08:00] #11 closed

[2016-12-01 08:00] bhurlow commented on #10
we should be able to just add as many file extension matches as needed

[2016-12-01 08:00] #10 closed

[2016-12-13 14:50] tomaskulich commented on #24
The behavior of the plugin is too buggy for me. I created an infinitely simplified version of it in case anyone is interested: https://github.com/tomaskulich/vim-parinfer-bare

[2016-12-13 14:50] tomaskulich commented on #27
The behavior of the plugin is too buggy for me. I created an infinitely simplified version of it in case anyone is interested: https://github.com/tomaskulich/vim-parinfer-bare

[2016-12-13 14:52] tomaskulich opened #30 "Clean the project"
Delete the js-related files, delete test.clj

[2016-12-13 14:52] bhurlow commented on #27
@tomaskulich yea, gotta agree with you there :). What did you do for `Select_full_form`? Happy to merge these together if you're liking your approach more

[2016-12-13 14:53] bhurlow commented on #30
good call

[2016-12-13 14:53] tomaskulich opened #31 "Copy-paste bug"
[code]

there should probably be
[code]

[2016-12-13 14:54] bhurlow commented on #27
@tomaskulich, looks like you're just selecting the full file... Does this work ok for you?

[2016-12-13 14:57] bhurlow commented on #27
I was hoping to only send the minimal amount of data to Parinfer. The sticky part here is how to select the full form if there are missing parens. If there are missing parens `searchpairpos()` wont find the correct section to eval. Previously I was using empty lines to determine this but that precludes line separations **within** forms

[2016-12-13 14:59] tomaskulich opened #32 "Choose the proper form to evaluate"
searching opening '(' on the first line seems like a decent heuristics for the beginning of the form.

[code]

The bottomline however is searched for badly. Searching for corresponding ')' may not work, because there may not yet be corresponding closing bracket:

[code]

Good idea may be to look for the next opening bracket on the first line (i.e. beginning of the next 'main' form) (or the end of

[2016-12-13 14:59] #30 closed

[2016-12-13 15:01] bhurlow commented on #32
@tomaskulich yep, this is definitely the tricky part thanks for the bump. I think the topline search is adequate as this is what `vim-sexp` is doing. Maybe a fallback for `searchpair()` is the next step

[2016-12-13 15:01] bhurlow opened #33 "add tests"
🎉

[2016-12-13 15:03] bhurlow commented on #31
@tomaskulich ok cool, what does this have to do with copy/paste?

[2016-12-13 15:03] bhurlow opened #34 "Support Paren Mode"

[2016-12-13 15:03] bhurlow commented on #31
https://github.com/bhurlow/vim-parinfer/issues/34

[2016-12-13 15:04] #7 closed

[2016-12-13 15:05] bhurlow opened #35 "Use Python impl with Viml fallback"

[2016-12-13 15:05] tomaskulich commented on #32
Well, if I understand correctly what the plugin is trying to do, then the `searchpair` approach is IMO conceptually broken; you cannot ask for matching paren, if the paren is yet-to-be inserted - which is very often the case. The `searchpair` will work correctly only if there is nothing to do (with this kind of parens)

[2016-12-13 15:06] spinningarrow commented on #24
@tomaskulich Could you describe some of the buggy behaviour? Not disagreeing with you per se; I'm currently using LightTable for clojure as I found parinfer in vim not as pleasing but I think it'll help improve this plugin if there are specific things to address.

[2016-12-13 15:23] bhurlow commented on #32
@tomaskulich I'm thinking the best thing here might be like you proposed, too count parens until we hit the ***next*** opening `(`

[2016-12-13 15:25] bhurlow commented on #24
@spinningarrow the buggy behavior is primary related to: https://github.com/bhurlow/vim-parinfer/issues/32, and it's actually pretty debilitating. Are you using a parinfer implementation in LightTable? Can you elaborate on how they're wired differently?

[2016-12-13 15:36] shaunlebron commented on #32
The proposed solution is what atom-parinfer does 👍

[2016-12-13 15:40] spinningarrow commented on #24
I'm using this one: https://github.com/mauricioszabo/lt_parinfer. I think it's the only one available (or at least was when I installed it).

I haven't looked that deeply into how they're wired differently, but I don't have any complaints with it so far. The problem for me in vim was that I make a lot of changes (especially deletions) in normal mode and vim-parinfer only works in insert mode. I'm

[2016-12-13 15:43] bhurlow commented on #32
@shaunlebron good to know thanks!

[2016-12-13 15:49] tomaskulich commented on #24
For example take this wana-be-form:

[code]

Now when parinfer is invoked, only first line (!) is sent to the viml-parinfer for analysis. Therefore, the result is:

[code]

The funny (but understandable) thing is that when I now invoke the parinfer (by switching to insert mode and back), what I got is:
[code]

So the parinfer indent mode is not even behaving idempotently!

[2016-12-13 15:52] tomaskulich commented on #31
I just thought it was created when copy-pasting the code since the exact snippet is just above this one.

[2016-12-13 16:24] bhurlow commented on #31
ohh haha just read it. ok, let's add a hook for both modes in https://github.com/bhurlow/vim-parinfer/issues/34

[2016-12-13 16:24] #31 closed

[2016-12-13 16:27] bhurlow commented on #24
it wants to be a form so bad! :)

[2016-12-13 16:44] bhurlow opened #36 "Pass cursor data to parinfer"

[2016-12-13 17:13] bhurlow commented on #32
ok, I did this: https://github.com/bhurlow/vim-parinfer/commit/8c5269b965b405c58b63a0154773c961e1eece8b. Could be few edge cases still left, although this definitely works smoother

[2016-12-13 17:17] bhurlow commented on #24
@spinningarrow these changes: https://github.com/bhurlow/vim-parinfer/blob/master/plugin/parinfer.vim#L123-L124 override `dd` and `p` respectively so you can delete and paste in normal mode and have parfiner rebalance the form. Are there other ops you'd like to see happen in normal mode?

[2016-12-13 22:24] osfameron commented on #34
Ah, I was just about to submit a question about the demo 'Preserve indentation when editing in "Paren Mode"' from https://shaunlebron.github.io/parinfer/ not working, but that is reliant on Paren Mode presumably?

(Thanks for contributing this module btw, this looks like it may be much nicer than vim-sexp for me.  I actually like that parens are only calculated on ESC, as it lets you type what *yo

[2016-12-13 22:36] bhurlow commented on #34
Yep, the vim and python implementations should support, just haven't wired up Paren mode yet, shouldn't be too tricky

[2016-12-14 20:43] bhurlow opened #38 "Handle line above cursor"
https://github.com/oakmac/atom-parinfer/blob/8ffc15b4f5398eaf046474e41309c15c3ffeb626/src-cljs/atom_parinfer/core.cljs#L260-L271

[2016-12-17 06:39] js-choi commented on #27
Closing this issue because the double-line-break issue has been fixed, though regressions have indeed occurred; see also #32.

[2016-12-17 06:39] #27 closed

[2016-12-17 17:59] bhurlow commented on #27
@js-choi thanks. Can you please post the regression you encounter?

[2016-12-24 07:39] js-choi commented on #27
I will when I get a bit of spare time; these ones seem to be harder to characterize, though.

[2017-03-21 02:43] metasoarous opened #39 "Parinfer eating lines in edn files?"
It seems like parinfer is eating lines on editing `*.edn` files? Perhaps it's looking for a `ns` declaration and doing weird things when it doesn't find it? For reference (and reproducibility), here are my parinfer hooks.

[code]

[2017-03-21 03:56] metasoarous commented on #39
Clearly this was working in #20, so not sure what happened...

[2017-04-26 16:02] spinningarrow commented on #24
Ideally I'd like any text-modifying operation to invoke parinfer seamlessly. I've been using parinfer in LightTable with vim mode enabled, and it's quite a breeze. (Relatedly, what would it take to get parinfer to work in insert mode?)

[2017-05-06 19:16] bhurlow commented on #39
@metasoarous yes I have seen this and it's annoying as hell! I think it has to do with finding the 'top level form'

[2017-05-11 13:05] michael-okeefe commented on #39
I'm seeing the same thing -- is there a way to temporarily disable parinfer so as to be able to edit these files?

[2017-05-20 06:01] amonks commented on #39
try #40

[2017-07-05 05:02] GoranM opened #42 "The redraw! command makes vim flicker annoyingly."
As the title states.

Is a redraw really necessary? I commented it out, and it doesn't seem to break anything.

[2017-07-05 16:17] #42 closed

[2017-07-05 16:17] bhurlow commented on #42
@GoranM yea wow seems like that isn't needed at all and appears faster w/o

[2017-07-05 16:17] bhurlow commented on #42
thanks

[2017-12-29 23:23] metasoarous opened #43 "Very slow to update for long s-exprs"
98% of the time, vim-parinfer works great for me, but for code with very long top level forms (long defrecords for instance), it tends to be pretty horrible (well nigh unusable, sometimes forcing me to switch to Cursive). Other parinfer-capable editors I've used don't seem to have this problem, so I'm assuming the issue isn't inherent to the algorithm, but instead the implementation.

Is there a c

[2017-12-29 23:33] bhurlow commented on #43
@metasoarous yea, noticing the same thing. The VimL implementation is very very slow, so I think https://github.com/bhurlow/vim-parinfer/issues/35 would probably be a big improvement

[2017-12-29 23:35] bhurlow commented on #43
In the first release I actually sent the buffer over the wire to a node.js server running the parinfer js lib and that was also considerably quicker

[2017-12-29 23:36] bhurlow commented on #43
@metasoarous are you using neovim or regular vim?

[2017-12-29 23:49] metasoarous commented on #43
Regular vim.

[2018-01-08 00:40] metasoarous opened #44 "Update parens on commenting?"
I use nerd commenter (https://github.com/scrooloose/nerdcommenter) for commenting, and for whatever reason, when I comment out lines the parens do not update. Is there a parinfer centric notion of commenting? Or does anyone know how to hook into the relevant nerdcommenter events in order to trigger a parinfer update?

[2018-01-08 04:16] bhurlow commented on #44
@metasoarous, I don't know the best way to hook into nerdcommenter but it seems like we could override the hotkey. I'd also enjoy if the commenting were more intelligent.

We're you thinking that commenting at the top of a form would comment the whole form?

[2018-01-08 17:09] metasoarous commented on #44
My thought was that if I comment a line, it should update the indentation for all the other lines in the form.  Then you could comment out a selection in visual model easily enough to comment out the whole form (this is what I do anyway).

[2018-02-19 00:02] jschomay opened #48 "PR #45 (parinfer on TextChanged) is awesome, but really messes up undo history!"
I'm delighted to get the new functionality from #45, but it seems to create a _ton_ of changes in the change list, messing up my undo history.

To replicate:
Make a change somewhere.  Then do something that will trigger this new feature (I typed "()" before some other code, pressed 'esc', then delete the second ")" with 'x', which inserted a new ")" near the end of the form, as expected).

Now try

[2018-02-19 00:17] shaunlebron commented on #48
we've had to resolve this problem in atom-parinfer with an option to skip the undo stack when updating the text buffer: https://github.com/oakmac/atom-parinfer/blob/v1.22.0/src-cljs/atom_parinfer/core.cljs#L483

something like this probably exists for vim

[2018-02-19 12:49] bhurlow commented on #48
ahhh yes, I knew something mysterious had changed. This makes sense. Seems like some option to bypass the undo history is what we need, this is outside my immediate vim knowledge but is likely supported

[2018-02-19 20:12] jschomay commented on #48
I've tried to dig in a little bit more.  I've never done vimscript, so this is shooting in the dark, but here are things I found that seem helpful:

1) (possibly a red herring) - vim docs for `TextChanged` say  "Careful: This is triggered very often, don't do anything that the user does not expect or that is slow."  I don't think this is the problem though, see my next point.

2) Looking at `:chan

[2018-02-19 20:34] jschomay commented on #48
Thinking more about this, I think the problem is that `TextChanged` triggers when an undo happens, which calls `process_form`, which creates more changes.  So the solution is either to avoid 'undo' triggering anything, or to avoid creating changes from any of the parinfer functions.  The latter is preferable, as opening a new clojure file should start with an empty change list, but that is not the

[2018-02-19 20:40] bhurlow commented on #48
@jschomay thanks for digging! Ideally we could so something like ~~ `TextChanged() && !undoAction`

[2018-02-19 20:41] bhurlow commented on #48
I'm interested by the thought of storing a separate set of changes related to CLJ editing, i.e. the undo could restore at the structural level rather than a single paren. This may be a separate project idea though

[2018-02-19 21:04] jschomay commented on #48
Last update - it seems `undojoin` is the answer here, but I haven't been able to get it to work.  Here are two use cases, but repeating these hasn't worked for me (because it won't fire after an undo, even though these links seem to indicate it does).  Hopefully someone else will figure it out.

- https://github.com/sbdchd/neoformat#managing-undo-history
- https://github.com/clojure-vim/nvim-parin

[2018-02-19 21:17] jschomay commented on #48
Ok, one more thought, I've also seen other plugins that do things like formatting, where they write to a separate buffer, then dump that all in the current one, which might help.  At least I think they do that, like I said, I'm not a vimscript developer.

This might be very helpful to look at / copy.  You can see how he is using a new buffer to do the formatting, then swapping it back, using `undo

[2018-02-20 04:37] spinningarrow commented on #48
Thanks for reporting this! Would you be able to test with the latest changes in #46? I think my last commit there goes some way in fixing this (it seemed to have fixed it locally for me).

[2018-02-20 04:58] jschomay commented on #48
@spinningarrow I tried with your changes, and yes, it seems to fix the problem!  Nice one, thank you!  I haven't used it beyond my simple test, so I'm not sure if there are other unintended effects, but it seems good, and certainly is more usable than before.

[2018-03-05 07:38] spinningarrow commented on #24
Closed by #45 and #46.

[2018-03-05 07:38] #24 closed

[2018-03-14 17:04] eraserhd commented on #43
Hi!  I ported parinfer to Rust, which Vim can call through libcall().  It's much faster, doesn't require Neovim, and can probably be improved, speed-wise.  It might be beta quality, though.

See here: https://github.com/eraserhd/parinfer-rust

[2018-03-14 17:07] bhurlow commented on #43
@eraserhd can't wait to try it

[2018-04-06 02:47] spinningarrow commented on #48
Just ran into this again, looks like we need a better fix 😞

[2018-04-06 16:13] bhurlow commented on #48
@spinningarrow noted :sad:

[2018-04-23 00:33] pouya-abbassi opened #51 "No top-level form found!"
Everytime I open vim for a new clj file i see this error:

[code]

I tried to comment lines 49-51 and error is now gone. What's wrong?  Should I do something else instead? 'Cuz I know I shouldn't remove the error message to get rid of problem :grinning:
Lines 49-91:
[code]

[2018-08-07 02:13] spinningarrow commented on #48
This has been reported as an issue in Vim: https://github.com/eraserhd/parinfer-rust/issues/14#issuecomment-410890950 (thanks to @eraserhd for the digging!)

[2018-08-09 01:59] eraserhd commented on #48
Bram later added patch 8.1.0256, which should Just Work(tm) -- it does for parinfer-rust, for sure (although I just precede `setline()` with `silent! undojoin`).

[2018-08-17 02:10] RhysU opened #54 "Support configurable extensions"
Any way to have https://github.com/bhurlow/vim-parinfer/blob/master/plugin/parinfer.vim#L154 not require hardcoded extensions?  I'm working with some .sls, .scm, .sld stuff at the moment.  Hate to hack up the vim-parinfer source vs just setting some configurable flag.  I suspect the logic looks something like https://stackoverflow.com/questions/27213808/use-variables-lists-as-an-autocmd-pattern, b

[2018-08-20 03:05] bhurlow commented on #54
yea, silly to have to PR for each extension type :)

I think we may be able to define a global setting such as `let g:parinfer_file_types = 'cljs,edn'` and iterate over those values to generate the `autocmd`, not sure yet how to pass a string value to the `autocmd` literal, maybe with `execute`

[2018-08-27 00:39] RhysU commented on #54
I believe the right idiom is https://stackoverflow.com/questions/27592949/using-a-variable-as-the-subject-of-autocmd-filetype.  The right way to have overriddable defaults may be https://github.com/vim-syntastic/syntastic/blob/9e1b2a8620a0ff48a9f4e42a6e09b65a34ad2a6a/plugin/syntastic.vim#L84.

[2018-08-28 11:43] #54 closed

[2018-09-07 11:20] kauais opened #57 "After removing parantheses doesnt removes parantheses back"
Let's say i have code like
[code]

I added comment to func
[code]

Then I remove the comment

[code]
This parenthesis doesn't removes after removing the comment, a bad bug. I hope it gets solved.

[2018-09-15 07:36] kauais commented on #57
Closed for no response

[2018-09-15 07:36] #57 closed

[2018-09-24 17:10] midnio commented on #34
Actually this is just really needed for this project.

[2018-09-24 17:12] bhurlow commented on #34
@midnio can you provide more info on your use case? I believe that "paren" mode may be deprecated in favor of "smart" mode coming in future versions

[2018-10-12 14:58] bhurlow opened #58 "General issues with comments"

[2019-01-20 15:04] s-ol commented on #34
@bhurlow seems that "Smart Mode" is a failed-ish experiment: https://github.com/shaunlebron/parinfer/tree/master/lib#status-update-2019-smart-mode

Would be nice to see Paren mode in vim-parinfer for sure!

[2019-10-18 08:52] gveres opened #62 "Smarter do_indent?"
Hey, thanks for the great plugin!
I might miss something here, but as I see on the parinfer site's web based demos, it also does override <Tab> behavior in a smart way: pressing <Tab> or <S-Tab> (un)indents the line by variable colums, placing the content where it "makes sense", such as align with different parts of the form above.

Starting from this
[code]
pressing Tab with the caret before ":co

[2020-01-29 06:40] rncar opened #66 "Comments and strings formats for new languages"
Would be nice an easy way to add new formats to vim-parinfer.

For example, Janet (https://github.com/janet-lang/janet) has multiline
strings using any number of backticks `:
[code]

And use # for comments:
[code]

Any way I could add this ?
Thanks and great work, vim-parinfer works great.

[2020-02-02 15:28] bhurlow commented on #66
@rncar I'm not sure I follow the request here. You'd like some way to have parinfer applied to multi-line strings? vim-parinfer basically passes a region of text to the parinfer algorithm to apply parenthesis accordingly, a multi-line string wouldn't necessarily have parenthesis.

Which lisp are you using with the plugin?

[2020-02-10 11:21] rncar commented on #66
The lisp is Janet:
https://github.com/janet-lang/janet
https://janet-lang.org/docs/syntax.html

The problem, if I use parens, curlies or brackets in multilines strings,
parinfer modify the string. The parinfer algorithm should skip that block.

Same for the Janet comment symbol, `#`.

[2021-05-02 10:32] elkowar opened #70 "Just doesn't work in some files, for hard to explain reasons"
I _think_ that it's related to comments (#58 ?),.. but idk.
I'm configuring vim in fennel, and making heavy use of parinfer while writing that config. In some files it just stopped working after a while, and idk why. From time to time, I notice parenthesis stacking at the end of comments that i use for folding.

Originally i thought this may be fixed by making foldmarker something that isn't also

[2021-05-18 08:55] harry-prins-otm opened #71 "Request: Make normal mode <Tab> and <S-Tab> mappings optional"
I don't know why, but my Ctrl-i and Ctrl-o keys are affected by this, which blocks me from quickly navigating to my previous/next position.

I have copied the repo and commented out these lines, and it works again:
[code]

I left the visual mode mappings as is, so I can still use (shift-)tab in that mode.

[2021-09-01 18:29] tankorsmash commented on #71
I ran into this issue today too. `<Tab>` and `<C-I>` are synonyms or something, so this affects both. Very strange eh.

![image](https://user-images.githubusercontent.com/1312390/131724554-d7b2e21a-4d7a-49b8-b176-5d671ca2a2b6.png)

[2021-12-31 17:53] MaiUlShajar commented on #22
@GoranM shame on you for selling yourself as a cheap slave. Shame on you for saying that disgusting and racist and arrogant word before the name "frev", in your BGE outline shader tutroial. You are a big worthless loser Goran. DEATH to everyone who uses those words. DEATH to "univeristies". DEATH to the disgusting and garbage so called "health sector". DEATH TO LOSERS WHO USE STUPID "TITLES". SHAM